<%= f.SelectTag("ProjectID", {options: projects, "label": "Project", value: application.ProjectID}) %>
<%= f.SelectTag("ClientID", {options: clients, "label": "Client", value: application.ClientID}) %>
<%= f.SelectTag("RuntimeID", {options: runtimes, "label": "Runtime", value: application.RuntimeID}) %>
<%= f.SelectTag("PoolID", {options: pools, "label": "Pool", value: application.PoolID}) %>
<%= f.SelectTag("DatabaseID", {options: databases, "label": "Database", value: application.DatabaseID}) %>
<%= f.SelectTag("EnvironmentID", {options: environments, "label": "Environment", value: application.EnvironmentID}) %>
<%= f.SelectTag("NewAliases", {options: aliases, "label": "Aliases", multiple: true, value: application.Aliases}) %>
<%= f.InputTag("Repository") %>
<%= f.InputTag("Branch") %>
<button class="btn btn-success" role="submit">Save</button>
