<div class="py-4 mb-2">
  <h3 class="d-inline-block">Application Details</h3>

  <div class="float-end">
    <%= linkTo(applicationsPath(), {class: "btn btn-info"}) { %>
      Back to all Applications
    <% } %>
    <%= if (current_user.HasPermissionFor("application.edit")) { %>
      <%= linkTo(editApplicationPath({ application_id: application.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <% } %>
    <%= if (current_user.HasPermissionFor("application.delete")) { %>
      <%= linkTo(applicationPath({ application_id: application.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
    <% } %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Project</label>
    <p class="d-inline-block"><%= application.Project.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Client</label>
    <p class="d-inline-block"><%= application.Client.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Runtime</label>
    <p class="d-inline-block"><%= application.Runtime.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Pool</label>
    <p class="d-inline-block"><%= application.Pool.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Database</label>
    <p class="d-inline-block"><%= application.Database.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Environment</label>
    <p class="d-inline-block"><%= application.Environment.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Codebase</label>
    <p class="d-inline-block"><%= application.Repository %> / <%= application.Branch %></p>
  </li>


  <li class="list-group-item pb-1">
    <label class="small d-block">Aliases</label>
    <ul>
      <%= for (alias) in application.Aliases { %>
        <li><%= alias.Alias.Name %></li>
      <% } %>
    <ul>
  </li>


</ul>
