<div class="py-4 mb-2">
  <h3 class="d-inline-block">JobApplications</h3>
</div>

<div class="responsive-table mt-3">
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
      <th>Type</th>
      <th>Application</th>
      <th>Processed At</th>
      <th>Response</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
      <%= for (jobApplication) in jobApplications { %>
        <tr data-job-id="<%= jobApplication.ID %>">
          <td class="align-middle"><%= jobApplication.Type %></td>
          <td class="align-middle"><%= jobApplication.Summary() %></td>
          <td class="align-middle processed-at"><%= jobApplication.ProcessedAt %></td>
          <td class="align-middle response"><%= jobApplication.Response %></td>
          <td>
            <div class="float-end">
              <%= linkTo(jobApplicationPath({ job_application_id: jobApplication.ID }), {class: "btn btn-info", body: "View"}) %>
              <%= linkTo(jobApplicationPath({ job_application_id: jobApplication.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
            </div>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= paginator(pagination) %>
</div>

<script>
(function() {
    if (window["WebSocket"]) {
        conn = new WebSocket("ws://" + document.location.host + "/ws");
        conn.onclose = function (evt) {
            console.log('close', evt.data);
        };
        conn.onmessage = function (evt) {
            const data = JSON.parse(evt.data);
            const jobId = data.id;
            const processedAt = data.processed_at;
            const response = data.response;
            let row = document.querySelector(`[data-job-id="${jobId}"]`);
            if (!row) {
                // close connection and reload page
                conn.close();
                location.reload();
            }
            row.querySelector('.processed-at').innerHTML = processedAt;
            row.querySelector('.response').innerHTML = response;
        };
    } else {
        console.log("Your browser does not support WebSockets.");
    }
})();
</script>
