<div class="py-4 mb-2">
  <h3 class="d-inline-block">JobApplication Details</h3>

  <div class="float-end">
    <%= linkTo(jobApplicationsPath(), {class: "btn btn-info"}) { %>
      Back to all JobApplications
    <% } %>
    <%= linkTo(jobApplicationPath({ job_application_id: jobApplication.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Type</label>
    <p class="d-inline-block"><%= jobApplication.Type %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Application</label>
    <p class="d-inline-block"><%= jobApplication.Summary() %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">NewParams</label>
    <p class="d-inline-block"><%= jobApplication.NewParams %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">OrigParams</label>
    <p class="d-inline-block"><%= jobApplication.OrigParams %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">ProcessedAt</label>
    <p class="d-inline-block"><%= jobApplication.ProcessedAt %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Response</label>
    <p class="d-inline-block"><%= jobApplication.Response %></p>
  </li>


</ul>
