<div class="py-4 mb-2">
  <h3 class="d-inline-block">Environments</h3>
  <div class="float-end">
    <%= linkTo(newEnvironmentsPath(), {class: "btn btn-primary"}) { %>
      Create New Environment
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Name</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (environment) in environments { %>
      <tr>
        <td class="align-middle"><%= environment.Name %></td>
        <td>
          <div class="float-end">
            <%= linkTo(environmentPath({ environment_id: environment.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editEnvironmentPath({ environment_id: environment.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(environmentPath({ environment_id: environment.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
