<div class="py-4 mb-2">
  <h3 class="d-inline-block">Dbtype Details</h3>

  <div class="float-end">
    <%= linkTo(dbtypesPath(), {class: "btn btn-info"}) { %>
      Back to all Dbtypes
    <% } %>
    <%= if (current_user.HasPermissionFor("dbtype.edit")) { %>
      <%= linkTo(editDbtypePath({ dbtype_id: dbtype.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <% } %>
    <%= if (current_user.HasPermissionFor("dbtype.delete")) { %>
      <%= linkTo(dbtypePath({ dbtype_id: dbtype.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
    <% } %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= dbtype.Name %></p>
  </li>


</ul>
