<div class="py-4 mb-2">
  <h3 class="d-inline-block">Runtimes</h3>
  <%= if (current_user.HasPermissionFor("runtime.create")) { %>
    <div class="float-end">
      <%= linkTo(newRuntimesPath(), {class: "btn btn-primary"}) { %>
        Create New Runtime
      <% } %>
    </div>
  <% } %>
</div>

<div class="responsive-table mt-3">
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
      <th>Name</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
      <%= for (runtime) in runtimes { %>
        <tr>
          <td class="align-middle"><%= runtime.Name %></td>
          <td>
            <div class="float-end">
              <%= linkTo(runtimePath({ runtime_id: runtime.ID }), {class: "btn btn-info", body: "View"}) %>
              <%= if (current_user.HasPermissionFor("runtime.edit")) { %>
                <%= linkTo(editRuntimePath({ runtime_id: runtime.ID }), {class: "btn btn-warning", body: "Edit"}) %>
              <% } %>
              <%= if (current_user.HasPermissionFor("runtime.delete")) { %>
                <%= linkTo(runtimePath({ runtime_id: runtime.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
              <% } %>
            </div>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
