<div class="py-4 mb-2">
  <h3 class="d-inline-block">Runtime Details</h3>

  <div class="float-end">
    <%= linkTo(runtimesPath(), {class: "btn btn-info"}) { %>
      Back to all Runtimes
    <% } %>
    <%= linkTo(editRuntimePath({ runtime_id: runtime.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(runtimePath({ runtime_id: runtime.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= runtime.Name %></p>
  </li>


</ul>
